@model IEnumerable<LabW12Quotes.Models.Entities.Quote>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TheQuote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WhoSaidIt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TheQuote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhoSaidIt)
            </td>
            
        </tr>
}
    </tbody>
</table>
